{# swim/templates/show.html.twig #}

<div>
  <h2>Pending</h2>
  {% if pending_users %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">Approve</th>
      </tr>
      </thead>
      <tbody>
      {% for pending_user in pending_users %}
        <tr>
          <th scope="row">{{ drupal_image(pending_user.picture, 'thumbnail') }}</th>
          <td>{{ pending_user.name }}</td>
          <td>{{ pending_user.username }}</td>
          <td>{{ pending_user.email }}</td>
          <td>
            <form action={{ drupal_url("waivers/#{pending_user.waiver_id}/view") }}>
              <input type="submit" value="View" />
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    There are no pending waivers.
  {% endif %}

  <h2>Approved</h2>

  {% if approved_users %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">View</th>
      </tr>
      </thead>
      <tbody>
      {% for approved_user in approved_users %}
        <tr>
          <th scope="row">{{ drupal_image( approved_user.picture, 'thumbnail' ) }}</th>
          <td>{{ approved_user.name }}</td>
          <td>{{ approved_user.username }}</td>
          <td>{{ approved_user.email }}</td>
          <td>
            <form action={{ drupal_url( "waivers/#{approved_user.waiver_id}/review" ) }}>
              <input type="submit" value="View" />
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    No waivers have been approved yet!
  {% endif %}

</div>

