{# swim/templates/show.html.twig #}

<div>
  <h2>Pending</h2>
  {% if pending_users %}
    <table class="table table-striped" id="pending">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">Approve</th>
      </tr>
      </thead>
      <tbody>
      {% for pending_user in pending_users %}
        <tr>
          <th scope="row">{{ drupal_image(pending_user.picture, 'thumbnail') }}</th>
          <td>{{ pending_user.name }}</td>
          <td>{{ pending_user.username }}</td>
          <td>{{ pending_user.email }}</td>
          <td>
            <form action={{ drupal_url("waivers/#{pending_user.waiver_id}/view") }}>
              <input type="submit" value="View" />
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <center>
      <button onclick="decrease('pending')" class="pointer-cursor" id="previous_pending" disabled>Previous</button>
      <button onclick="increase('pending')" class="pointer-cursor" id="next_pending">Next</button>
    </center>
    <form action={{drupal_url("waivers/download_pending")}}>
      <input type="submit" value="Download All Pending Waivers" />
    </form>
  {% else %}
    There are no pending waivers.
  {% endif %}

  <h2>Users with unsubmitted waivers</h2>
  {% if not_submitted_users %}
  <table class="table table-striped" id="unsubmited">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for not_submitted_user in not_submitted_users %}
      <tr>
        <th scope="row">{{ drupal_image(not_submitted_user.picture, 'thumbnail') }}</th>
        <td>{{ not_submitted_user.name }}</td>
        <td>{{ not_submitted_user.username }}</td>
        <td>{{ not_submitted_user.email }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <center>
    <button onclick="decrease('unsubmited')" class="pointer-cursor" id="previous_unsubmited" disabled>Previous</button>
    <button onclick="increase('unsubmited')" class="pointer-cursor" id="next_unsubmited">Next</button>
  </center>
  {% else %}
    All members have submitted a waiver
  {% endif %}
  <h2>Approved</h2>

  {% if approved_users %}
    <table class="table table-striped" id="approved">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">View</th>
      </tr>
      </thead>
      <tbody>
      {% for approved_user in approved_users %}
        <tr>
          <th scope="row">{{ drupal_image( approved_user.picture, 'thumbnail' ) }}</th>
          <td>{{ approved_user.name }}</td>
          <td>{{ approved_user.username }}</td>
          <td>{{ approved_user.email }}</td>
          <td>
            <form action={{ drupal_url( "waivers/#{approved_user.waiver_id}/view" ) }}>
              <input type="submit" value="View" />
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <center>
      <button onclick="decrease('approved')" class="pointer-cursor" id="previous_approved" disabled>Previous</button>
      <button onclick="increase('approved')" class="pointer-cursor" id="next_approved">Next</button>
    </center>
    <form action={{drupal_url("waivers/download_approved")}}>
      <input type="submit" value="Download All Approved Waivers" />
    </form>
  {% else %}
    No waivers have been approved yet!
  {% endif %}

    <form action={{drupal_url("/waivers/request_new")}}>
      <input type="submit" value="Invalidate all waivers" onclick="return confirm('Are you sure you want to invalidate all waivers?')" />
    </form>
</div>

<script>

  const numberPerPage = 2;
  var pageNums = {"pending": 0, "unsubmited": 0, "approved": 0};

  document.addEventListener('DOMContentLoaded', function() {
    // TODO check if next button should be disabled
    const table = document.getElementById("pending");
    for (let i = 0; i < table.rows.length; i++) {
      if(i > numberPerPage){
        let row = table.rows[i];
        row.style.display = 'none';
      }
    }
    const not_submitted = document.getElementById("unsubmited");
    for (let i = 0; i < not_submitted.rows.length; i++) {
      if(i > numberPerPage){
        let row = not_submitted.rows[i];
        row.style.display = 'none';
      }
    }
    const approved = document.getElementById("approved");
    for (let i = 0; i < approved.rows.length; i++) {
      if(i > numberPerPage){
        let row = approved.rows[i];
        row.style.display = 'none';
      }
    }
  }, false);

  function increase(tableID){
    let pageNum = pageNums[tableID];
    if(pageNum === 0){
      document.getElementById("previous_"+ tableID).disabled = false;
    }
    const table = document.getElementById(tableID);
    const numOfWaivers = table.rows.length;
    if(!(pageNum+1 >= numOfWaivers/numberPerPage)){
      pageNums[tableID] = pageNums[tableID]+ 1;
      pageNum+= 1;
      paginate(pageNum, tableID);
      if(pageNum+1 >= numOfWaivers/numberPerPage){
        document.getElementById("next_"+tableID).disabled = true;
      }
    }
  }
  function decrease(tableID){
    let pageNum = pageNums[tableID];
    const table = document.getElementById(tableID);
    const numOfWaivers = table.rows.length;
    if(pageNum+1 >= numOfWaivers/numberPerPage){
      document.getElementById("next_" + tableID).disabled = false;
    }
    if(pageNum!==0){
      pageNums[tableID] = pageNums[tableID]- 1;
      pageNum-= 1;
      paginate(pageNum, tableID);
      if(pageNum === 0){
        document.getElementById("previous_" + tableID).disabled = true;
      }
    }
  }

  function paginate(pageNumber, tableID){
    const table = document.getElementById(tableID);
    for (let i = 1; i < table.rows.length; i++) {
      let row = table.rows[i];
      if(i >= (pageNumber*numberPerPage)+1 && i < ((pageNumber+1)*numberPerPage)+1){
        let row = table.rows[i];
        row.style.display = '';
      }
      else{
        row.style.display = 'none';
      }
    }
  }
</script>
