{# swim/templates/show.html.twig #}
<h2>{{ description }}</h2>
<h3>{{ date_time }}</h3>
<p>Status: {{ locked }}</p>
<p>Host uid: {{ uid }}</p>
<form action="http://127.0.0.1:8080/swims/{{ id }}/signup/">
    <input type="submit" value="Sign Up Here!" />
</form>